OPENAI_API_KEY=''
TAVILY_API_KEY=''
SPORTRADAR_API_KEY=""

#remove these if you don't want to use langsmith for tracing
LANGSMITH_API_KEY=''
LANGSMITH_PROJECT = badminton_multi_agent
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_TRACING_V2 = true

