.input-bar {
  padding: 12px 60px 24px;
  border-top: 2px solid #161515;
  background: #30302E;
}

.input-bar__row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input-bar__input {
  flex: 1;
  padding: 12px 16px;
  border-radius: 24px;
  border: 1.5px solid #b2b1b1;
  font-size: 14px;
  outline: none;
  font-family: inherit;
  font-weight: 600;
  color: #000000;
  background-color: #84847f;
  min-width: 0;  
}

.input-bar__input:focus {
  border-color: #f59e0b;
}

.input-bar__button {
  padding: 12px 22px;
  border-radius: 24px;
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  flex-shrink: 0;
  width: 90px;  
}

.input-bar__button--active {
  background: #f59e0b;
}

.input-bar__button--disabled {
  background: #84847f;
  cursor: default;
}